{#
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025, 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if reitti_tilecache_container_labels_traefik_enabled %}
traefik.enable=true

{% if reitti_tilecache_container_labels_traefik_docker_network %}
traefik.docker.network={{ reitti_tilecache_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{#
  Refer to https://docs.barassistant.app/setup/#reverse-proxy-configuration
#}
{% if reitti_tilecache_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ reitti_tilecache_identifier }}-strip-prefix.stripprefix.prefixes={{ reitti_tilecache_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [reitti_tilecache_identifier + '-strip-prefix'] %}
{% endif %}

{% if reitti_tilecache_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in reitti_tilecache_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ reitti_tilecache_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [reitti_tilecache_identifier + '-add-request-headers'] %}
{% endif %}

{% if reitti_tilecache_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in reitti_tilecache_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ reitti_tilecache_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [reitti_tilecache_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ reitti_tilecache_identifier }}.rule={{ reitti_tilecache_container_labels_traefik_rule }}
{% if reitti_tilecache_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ reitti_tilecache_identifier }}.priority={{ reitti_tilecache_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ reitti_tilecache_identifier }}.service={{ reitti_tilecache_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ reitti_tilecache_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ reitti_tilecache_identifier }}.entrypoints={{ reitti_tilecache_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ reitti_tilecache_identifier }}.tls={{ reitti_tilecache_container_labels_traefik_tls | to_json }}
{% if reitti_tilecache_container_labels_traefik_tls %}
traefik.http.routers.{{ reitti_tilecache_identifier }}.tls.certResolver={{ reitti_tilecache_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ reitti_tilecache_identifier }}.loadbalancer.server.port={{ reitti_tilecache_container_http_port }}

{% if reitti_tilecache_container_labels_traefik_metrics_enabled %}
########################################################################
#                                                                      #
# Metrics                                                              #
#                                                                      #
########################################################################

{% set middlewares = reitti_tilecache_container_labels_traefik_metrics_middlewares %}

{% if reitti_tilecache_container_labels_traefik_metrics_middleware_basic_auth_enabled %}
traefik.http.middlewares.{{ reitti_tilecache_identifier }}-metrics-basic-auth.basicauth.users={{ reitti_tilecache_container_labels_traefik_metrics_middleware_basic_auth_users }}
{% set middlewares = middlewares + [reitti_tilecache_identifier + '-metrics-basic-auth'] %}
{% endif %}

traefik.http.middlewares.{{ reitti_tilecache_identifier }}-metrics-replace-path.replacepath.path=/metrics
{% set middlewares = middlewares + [reitti_tilecache_identifier + '-metrics-replace-path'] %}

traefik.http.routers.{{ reitti_tilecache_identifier }}-metrics.rule={{ reitti_tilecache_container_labels_traefik_metrics_rule }}

{% if reitti_tilecache_container_labels_traefik_metrics_priority | int > 0 %}
traefik.http.routers.{{ reitti_tilecache_identifier }}-metrics.priority={{ reitti_tilecache_container_labels_traefik_metrics_priority }}
{% endif %}

traefik.http.routers.{{ reitti_tilecache_identifier }}-metrics.service={{ reitti_tilecache_identifier }}-metrics

{% if middlewares | length > 0 %}
traefik.http.routers.{{ reitti_tilecache_identifier }}-metrics.middlewares={{ middlewares | join(',') }}
{% endif %}

traefik.http.routers.{{ reitti_tilecache_identifier }}-metrics.entrypoints={{ reitti_tilecache_container_labels_traefik_metrics_entrypoints }}

traefik.http.routers.{{ reitti_tilecache_identifier }}-metrics.tls={{ reitti_tilecache_container_labels_traefik_metrics_tls | to_json }}
{% if reitti_tilecache_container_labels_traefik_metrics_tls %}
traefik.http.routers.{{ reitti_tilecache_identifier }}-metrics.tls.certResolver={{ reitti_tilecache_container_labels_traefik_metrics_tls_certResolver }}
{% endif %}

traefik.http.services.{{ reitti_tilecache_identifier }}-metrics.loadbalancer.server.port={{ reitti_tilecache_container_http_port }}

########################################################################
#                                                                      #
# /Metrics                                                             #
#                                                                      #
########################################################################
{% endif %}

{% endif %}

{% for arg in reitti_tilecache_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
