{#
SPDX-FileCopyrightText: 2023 Julian-Samuel Gebühr
SPDX-FileCopyrightText: 2023 Slavi Pantaleev
SPDX-FileCopyrightText: 2025, 2026 Suguru Hirahara

SPDX-License-Identifier: AGPL-3.0-or-later
#}

{% if geome_container_labels_traefik_enabled %}
traefik.enable=true

{% if geome_container_labels_traefik_docker_network %}
traefik.docker.network={{ geome_container_labels_traefik_docker_network }}
{% endif %}

{% set middlewares = [] %}

{% if geome_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ geome_identifier }}-slashless-redirect.redirectregex.regex=^({{ geome_container_labels_traefik_path_prefix | quote }})$
traefik.http.middlewares.{{ geome_identifier }}-slashless-redirect.redirectregex.replacement=${1}/
{% set middlewares = middlewares + [geome_identifier + '-slashless-redirect'] %}
{% endif %}

{% if geome_container_labels_traefik_path_prefix != '/' %}
traefik.http.middlewares.{{ geome_identifier }}-strip-prefix.stripprefix.prefixes={{ geome_container_labels_traefik_path_prefix }}
{% set middlewares = middlewares + [geome_identifier + '-strip-prefix'] %}
{% endif %}

{% if geome_container_labels_traefik_additional_request_headers.keys() | length > 0 %}
{% for name, value in geome_container_labels_traefik_additional_request_headers.items() %}
traefik.http.middlewares.{{ geome_identifier }}-add-request-headers.headers.customrequestheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [geome_identifier + '-add-request-headers'] %}
{% endif %}

{% if geome_container_labels_traefik_additional_response_headers.keys() | length > 0 %}
{% for name, value in geome_container_labels_traefik_additional_response_headers.items() %}
traefik.http.middlewares.{{ geome_identifier }}-add-response-headers.headers.customresponseheaders.{{ name }}={{ value }}
{% endfor %}
{% set middlewares = middlewares + [geome_identifier + '-add-response-headers'] %}
{% endif %}

traefik.http.routers.{{ geome_identifier }}.rule={{ geome_container_labels_traefik_rule }}
{% if geome_container_labels_traefik_priority | int > 0 %}
traefik.http.routers.{{ geome_identifier }}.priority={{ geome_container_labels_traefik_priority }}
{% endif %}
traefik.http.routers.{{ geome_identifier }}.service={{ geome_identifier }}
{% if middlewares | length > 0 %}
traefik.http.routers.{{ geome_identifier }}.middlewares={{ middlewares | join(',') }}
{% endif %}
traefik.http.routers.{{ geome_identifier }}.entrypoints={{ geome_container_labels_traefik_entrypoints }}
traefik.http.routers.{{ geome_identifier }}.tls={{ geome_container_labels_traefik_tls | to_json }}
{% if geome_container_labels_traefik_tls %}
traefik.http.routers.{{ geome_identifier }}.tls.certResolver={{ geome_container_labels_traefik_tls_certResolver }}
{% endif %}

traefik.http.services.{{ geome_identifier }}.loadbalancer.server.port={{ geome_container_http_port }}
{% endif %}

{% for arg in geome_container_labels_additional_labels %}
{{ arg }}
{% endfor %}
